.sidebar-collapse .logo-admin img{
    clip: rect(0, 35px, 124px, 0);
    position: absolute;
}
.sidebar-collapse .logo-admin{
    position:relative;
    height: 56px;
}
.note-chart{
    position: absolute;
    top: 34px;
    right: 0;
    display: grid;
}
@media screen and (max-width: 480px){
  .result-side{
      display: none !important;
  }
}
