/* @import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap"); */
body{
    font-family: "Roboto", sans-serif !important;
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
} */
/*  */
.quest{
    transition: 0.3s ease;
}
.underline {
    text-decoration: underline;
}
.underline:hover{
    text-decoration: underline;
}
.lh-36{
    line-height: 36px;
}
.justify-end{
    justify-content: flex-end;
}
.btn-key{
    background: #ff7700;
}
.recent-result{
    position:absolute;
    font-size: 12px;
}
.nav-link.active{
    color:#ff7700 !important;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
#modal-result.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  select.exp-option-box{
        all: unset;
        color: #ff7700;
        padding:0 6px;
        border-bottom: 2px solid black;
        background: url(https://www.charbase.com/images/glyph/9662) no-repeat right;
        background-size: 14px;
        font-size: 1.2rem;
        min-width:30px;
  }
  .w50{
      min-width: 52px!important;
  }
  /* Modal Content */
  #modal-result .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  #modal-result .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  #modal-result .close:hover,
  #modal-result .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.number-input {
    border: 0;
    display: inline-flex;
}
.quest:hover .number-input button{
    width: 1.5rem;
    border: 0.5px solid #c0bdbb;
}
.quest:hover .number-input button:before{
    width: 0.6rem;
}
.quest:hover .number-input button::after{
    width: 0.6rem;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    transition: 0.3s ease;
    /* display: none; */
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 1.5rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding: 0;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: #ff7700;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    max-width: 2rem;
    border: none;
    font-size: 1.2rem;
    height: 1.5rem;
    text-align: center;
    color: #ff7700;
}
@media screen and (max-width: 480px){
    .number-input input[type=number] {
        max-width: none;
        height: auto;
    }

    #result-page .back-btn{
        z-index: 1000;
        width: auto;
    }
    #result-page .back-btn span span{
        display: none;
    }
    #result-page .back-btn span{
        font-size: 26px;
    }
    .result-side{
        display: none !important;
    }
}
/*  */
#congrat-modal{
    display: none;
    z-index: 50000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000046;
}
#congrat-modal-quick{
    z-index: 50000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#congrat-modal .close-btn{
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 30px;

}
.tab-pane.active{
    color:#333;
}
.active{
    background-color: #6dd81b !important;
    color: white;
}
#result-page .active{
    background-color: rgba(255, 255, 255) !important;
    /* border-color: #ffffff75; */
    border-color: rgba(255, 255, 255);
}
.wizard-content-1{
    overflow-y: scroll;
}
.wizard-content-1::-webkit-scrollbar,body::-webkit-scrollbar {
    width: 0px;
    /* background-color: #ff7700; */
    color: aliceblue;
}

/* Handle */
.wizard-content-1::-webkit-scrollbar-thumb {
    background: #ff7700;
}
.question-title{
    text-overflow: clip;
}
.quest-item{
    width: 2rem;
}
.menu{
    position: absolute;
    transition: 0.3s ease;
    max-width: 300px;
}
.open-menu .menu{
    width: 0 !important;
    overflow: hidden;
}
.open-menu .wizard-content-1{
    width: 100%;
}
.menu-remote{
    position: absolute;
    z-index: 2000;
    font-size: 30px;
    cursor: pointer;
}
.quiz-title p{
    font-size: 22px !important;
    /* color: #ff7700; */
}
.quiz-details-option span{
    font-size: 16px !important;
}
.quiz-details-option .select-area:before{
    left: 10px !important;
    width: 25px !important;
    height: 25px !important;
}
.quiz-progress-area .progress{
    bottom: 36px !important;
}
.actions li{
    font-size: 35px;
}
.quiz-top-area{
    height: 10vh;
}
.wrapper{
    height: 100vh;
}
.quiz-progress-area h3{
    display: none;
}

.ttip-active{
    display: block !important;
}
.quiz-title .score{
    font-size: 18px !important;
}
/* .quiz-top-area{

} */
.forgot-password{
    position:absolute;
    left:40px;    
}
.d-flex-pc{
    display:flex;
}
@media (max-width: 700px){
    .forgot-password{
        position:relative!important;
        left:0!important;
    }
    .d-flex-pc{
        display:block!important;
    }
    .register{
        float: right;
    }
    .progress{
        display: none;
    }
    .quiz-progress-area h3{
        display: block !important;
    }
    .wizard-content-1{
        width: auto !important;
    }
    .open-menu .wizard-content-1{
        overflow-y: hidden !important;
    }
    .menu{
        width: 0 !important;
        overflow: hidden;
    }
    .open-menu .menu{
        position: absolute !important;
        left: 0;
        width: 75% !important;
        height: 100%;
        z-index: 1000;
    }
    .menu-remote{
        /* position: relative; */
        transition: 0.3s ease;
    }
    .open-menu .menu-remote{
        left: 75%;
        transition: 0.3s ease;
    }
    .quiz-progress-area .progress .progress-bar span{
        display: block;
        top: 50px !important;
    }
    .quiz-progress-area .progress .progress-bar span::after{
        display: none;
    }
    .actions{
        margin-top: 5px !important;
    }
    .actions li span{
        margin-top: 5px !important;
    }
}
