/*----------------------------------------------------

1. Global Area 
2. Header Section
=====================================================================*/
/*=========
Font load
===========*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,500,700|Roboto:100,300,400,500,700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;display=swap");
/*=========
Color Code
===========*/
/*global area*/
/*----------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    background: #f9f9f9;
    color: #2f3146;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    background-image: url(../img/qbg.jpg);
}
form{
    box-shadow: 3px 2px 17px -4px rgba(0,0,0,0.39);
}
/* label{
    font-size: 18px;
    transform: translateY(24px);
    transition: 0.3s ease;
} */
/* label:focus{
    font-size: 14px;
    transform: translateY(0);
} */
button{
    float: right;
}
input{
    border: none !important;
    outline: none;
    border-radius: 0 !important;
    border-bottom: 2px solid black !important;
    transition: 0.3s ease;
}
input:focus{
    box-shadow: none !important;
    border-color: #ff7700 !important;
}
.rad-label {
    display: flex;
    align-items: center;
  
    border-radius: 100px;
    /* padding: 14px 16px; */
    /* margin: 10px 0; */
  
    cursor: pointer;
    transition: .3s;
  }
  
  .rad-label:hover,
  .rad-label:focus-within {
    /* background: hsla(0, 0%, 80%, .14); */
  }
  
  .rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  .rad-design {
    width: 18px;
    height: 18px;
    border-radius: 100px;
  
    background: linear-gradient(to right bottom, hsl(28, 100%, 50%), hsl(52, 100%, 50%));
    position: relative;
  }
  
  .rad-design::before {
    content: '';
  
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  .rad-input:checked+.rad-design::before {
    transform: scale(0);
  }
  
  .rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 5px;
    letter-spacing: 3px;
    /* text-transform: uppercase; */
    font-size: 14px;
    font-weight: 600;
  
    transition: .3s;
  }
  
  .rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
  }
  
  
  /* ABS */
  /* ====================================================== */
  .abs-site-link {
    position: fixed;
    bottom: 40px;
    left: 20px;
    color: hsla(0, 0%, 0%, .5);
    font-size: 16px;
  }