/*----------------------------------------------------

1. Global Area 
2. Header Section
=====================================================================*/
/*=========
Font load
===========*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,500,700|Roboto:100,300,400,500,700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;display=swap");
/*=========
Color Code
===========*/
/*global area*/
/*----------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    background: #f9f9f9;
    color: #2f3146;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    background-image: url(../img/qbg.jpg);
    font-family: "Nunito", sans-serif !important;
}
.bg-muted{
    background-color: #ffffff;
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.13);
    cursor: pointer;
}
.slide-title .slick-track{
    display: flex !important;
}
.slide-title .slick-list{
    display: flex !important;
    justify-content: center !important;
    padding: 10px 0;
}
.slide-title .slick-current{
    border: 1px solid #ff7700;
}
.slide-title .slick-current span{
    color: #ff7700;
}

.slide-content {
    background: #e9e9e956;
}